body {
    background-color: #666;
    color: #fff;
}

h1 {
    text-align: center;
    margin: 2rem 0;
}

canvas {
    border: 5px solid black;
    border-radius: 0.25rem;
    margin: auto;
    display: block;
    background-color: tomato;
}